@import "../../colors";
@import "../../mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 25%;

    margin-left: 2rem;
    @include responsive(lg) {
      display: none;
    }
  }
  .list {
    width: 75%;
    @include responsive(lg) {
      width: 100%;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include responsive(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 2rem;
 
  }
}
