@import "../../colors";
@import "../../mixins";
.formControl {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
    @extend .text-medium;
  }
  input {
    padding: 0.8rem 1.2rem;
    height: 4rem;
    font-size: inherit;
    color: $dark;
    border-radius: 0.8rem;
    border: 0.1rem solid $gray-300;
    width: 100%;
    outline: none;
    font-family: inherit;
    @include transition;
    &::-webkit-validation-bubble {
      display: none;
    }
    &:invalid {
    //   border-color: $primary;
    //   &:focus {
    //     border-color: $primary;
    //   }
      ~ span {
        display: block !important;
      }
    }
    &:focus {
      border-color: $secondary;
    }
  }
  input[type="email"] {
    direction: ltr;
  }
  span {
    @extend .text-medium;
    padding: 0.5rem;
    color: $primary;
    display: none;
  }
}
