@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebBold.eot");
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/IRANYekanWebBold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/IRANYekanWebBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/IRANYekanWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebLight.eot");
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/IRANYekanWebLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/IRANYekanWebLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/IRANYekanWebLight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-display: fallback;
  font-weight: normal;
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebRegular.eot");
  src: url("../public/fonts/iranyekan/eot/IRANYekanWebRegular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/IRANYekanWebRegular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/IRANYekanWebRegular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/IRANYekanWebRegular.ttf")
      format("truetype");
}
