@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url("../public/fonts/iranyekan/eot/iranyekanwebbold.eot");
  src: url("../public/fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/iranyekanwebbold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/iranyekanwebbold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/iranyekanwebbold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: url("../public/fonts/iranyekan/eot/iranyekanweblight.eot");
  src: url("../public/fonts/iranyekan/eot/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/iranyekanweblight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/iranyekanweblight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/iranyekanweblight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-display: fallback;
  font-weight: normal;
  src: url("../public/fonts/iranyekan/eot/iranyekanwebregular.eot");
  src: url("../public/fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/iranyekanwebregular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/iranyekanwebregular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/iranyekanwebregular.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url("../public/fonts/iranyekan/eot/iranyekanwebextrabold.eot");
  src: url("../public/fonts/iranyekan/eot/iranyekanwebextrabold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/fonts/iranyekan/woff/iranyekanwebextrabold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/fonts/iranyekan/woff2/iranyekanwebextrabold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/fonts/iranyekan/ttf/iranyekanwebextrabold.ttf")
      format("truetype");
}
